.brandForm {
  display: flex;
  margin: 1rem auto;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
.brandForm input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.brandForm input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.brandForm button {
  width: 100%;
  max-width: 8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #4f46e5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.brandForm button:hover {
  background: #4338ca;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.errorMsg {
  color: red;
  min-height: 1rem;
}

.edituserButton {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #323235;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.cancelButtonDiv {
  padding: 0.5rem;
}

.formButtons {
  display: flex;
}

@media (max-width: 500px) {
  .brandForm {
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
  }
}
