
.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: #111827;
  
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logoImg {
  height: 40px;
  margin-right: 8px;
}

.ew {
  font-weight: bold;
   color: #f310ab;
}

.app {
  color: #00d4ff;
}

/* Desktop menu */
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Push register to right */
.pushRight {
  margin-left: auto;
}

/* Links */
.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  font-size: 1rem;
  }
  .menu a:hover{
      color: #00d4ff;
  }

.menu a.active {
  color: #00d4ff;
}

/* Hamburger button */
.menuToggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    display: none;
  }

  .show {
    display: flex;
  }

  .pushRight {
    margin-left: 0;
  }
}