.topNav {
  --bgColor: var(--color-dark-gray);

  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: var(--bgColor);

  @media (prefers-color-scheme: dark) {
    --bgColor: var(--color-light-gray)
  }

  & a {
    display: inline-block;
    padding: 1rem;

    color: var(--color-text-light);
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: var(--color-text-dark);
    }
  }

  & > menu {
    display: flex;
    flex-grow: 1;
    /* gap: 1rem; */

    padding: 0;
    margin: 0;

    list-style: none;
  }
}

.pushRight {
  margin-left: auto;
}

a.logo {
  color: var(--color-brand-primary);

  font-family: "Caveat", cursive;
  font-size: 4rem;
  font-weight: bold;
}



/* LOGO */

.logoImg {
  height: 5rem; /* adjust size */
  width: auto;
  cursor: pointer;
}
/*LOGO TEXT   */
.ew-app {
      font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* EW */
.ew {
  color: #0b3c8c; /* albastru */
}

/* APP */
.app {
  color: #2e7d32; /* verde */
}

/* efect modern */
.ew-app span {
  transition: 0.3s ease;
}

.ew-app span:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}