.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
 
}

.card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   border: 1px solid black;
}

.cardTitle {
  margin-bottom: 10px;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}